[submodule ".config/kak/bundle/kak-bundle"]
	path = .config/kak/bundle/kak-bundle
	url = https://codeberg.org/jdugan6240/kak-bundle
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
